.student-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.logoutuser {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-right: 100px;
  
}

.logout3 {
  background-color: #455768;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  
}

.logout3:hover {
  background-color: #0e0f10;
}

.student-dashboard h1 {
  margin: 0;
  font-size: 50px;
  color: #3c545e;
  margin-top: 15px;
  font-family:'Poppins', sans-serif;
  font-style: oblique ;
  margin-left: 150px;
  font-weight: 8500;

}

.user-name-student {
  color: #409cb9;
}

.grievance-section {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  color: #3c545e;
  font-family:'Poppins', sans-serif;
}
.add{
  margin-left: -330px;
}

.grievance-form {
  display: flex;
  height: 400px;
  width: 550px;
  flex-direction: column;
  gap: 30px;
  margin-left: -330px;
}

.grievance-textarea {
  width: 100%;
  height: 2500px;
  padding: 20px;
  border: 3px solid #9e9c9c;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}



.submit-button {
  background-color: #455768;
  color: white;
  border: none;
  font-family:'Poppins', sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0e0f10;
}

.grievance-list {
  margin-top: 60px;
  margin-right: 100px;
  margin-left: -250px;
  font-family:'Poppins', sans-serif;

}

.grievance-item {
  background-color: #f8f9fa;
  border: 2px solid #60676d !important;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  
}



.status {
  font-weight: bold !important;
}

.status.pending {
  color: orange !important;
}

.status-in-progress {
  color: #3498db  !important;
}

.status.resolved {
  color: #2ecc71 !important;
} 

@media (min-width: 768px) {
  .student-dashboard {
    flex-direction: row;
  }

  .grievance-section,
  .grievance-list {
    flex: 1;
  }

  .grievance-section {
    margin-right: 20px;
  }
}
